* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    background: var(--bg);
    color: var(--fg);
    transition: all 0.3s;
}

:root {
    --bg: #0f0f0f;
    --fg: #fff;
    --nav-bg: rgba(15, 15, 15, 0.9);
    --subtext: #fafafa99;
    --shade: rgba(20, 18, 18, 0.9);
}

[data-theme="light"] {
    --bg: aliceblue;
    --fg: #0f0f0f;
    --nav-bg: rgba(240, 248, 255, 0.9);
    --subtext: #0f0f0f;
    --shade: rgba(238, 246, 248, 0.9);
}


#theme {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

#theme:hover {
    transform: scale(1.1);
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    color: #00B4FF;
    width: 1.3em;
}

ul {
    list-style: none;
}

nav {
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    padding: 1.5% 8%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-blend-mode: overlay;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul a {
    padding: 4px 8px;
    font-size: .875rem;
    text-transform: uppercase;
}

.menu-btn {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        inset: 0;
        padding: 1rem;
        background-color: var(--bg);
        text-align: center;
        font-size: 40px;
    }

    nav ul.show {
        display: flex;
    }

    .menu-btn {
        display: block;
    }
}

.about {
    padding: 0 20%;
    margin-bottom: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h3 {
    color: var(--subtext);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.about .content {
    display: flex;
    gap: 100px;
}

.about .content div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about ul {
    color: var(--subtext);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about .content>div:last-of-type ul {
    color: var(--fg);
    flex-direction: row;
}

.about .content>div:last-of-type li {
    background-color: var(--shade);
    padding: 10px 12px;
    border-radius: 22px;
}

.about li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about h1 {
    font-size: 3rem;
}

.about h1 span {
    color: #00B4FF;
}

.about p {
    font-size: 1.15rem;
    line-height: 1.6;
}

.projects {
    padding: 0 12%;
    margin-bottom: 200px;
}

.projects span {
    color: var(--subtext);
    text-transform: uppercase;
}

.project button {
    border: none;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
}

.project button:hover svg,
.project button:active {
    transform: translateX(3px);
}

.project button svg {
    color: #0f0f0f;
    transition: transform .5s ease;
    width: 15px;
}

.projects>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.projects h6 {
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 500;
}

.project a {
    transition: transform 0.4s ease,
        background-size 0.8s ease;
    background-image: url('/assets/avantyra.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 16/10;
    overflow: hidden;
    grid-column: span 2;
}

.project a:hover {
    transform: scale(1.06);
    background-size: 104% 104%;
}

.project {
    margin-top: 30px;
}

.project ul {
    display: flex;
    gap: 30px;
}

.project p {
    color: var(--subtext);
}

.project li {
    background-color: var(--bg);
    padding: 10px 12px;
    border-radius: 22px;
}

.project div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}