* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

body,
html {
    scroll-behavior: unset !important;
    overscroll-behavior-y: none !important;
}

body {
    background: var(--bg);
    color: var(--fg);
    transition: all 0.3s;
}

:root {
    --bg: #0f0f0f;
    --fg: #fff;
    --nav-bg: rgba(15, 15, 15, 0.9);
    --subtext: #fafafa99;
    --shade: rgba(20, 18, 18, 0.9);
}

[data-theme="light"] {
    --bg: aliceblue;
    --fg: #0f0f0f;
    --nav-bg: rgba(240, 248, 255, 0.9);
    --subtext: #0f0f0f;
    --shade: rgba(238, 246, 248, 0.9);
}


#theme {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

#theme:hover {
    transform: scale(1.1);
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    color: #00B4FF;
    width: 1.3em;
}

ul {
    list-style: none;
}

#progress-bar {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: .75rem;
    color: var(--subtext);
    width: 2px;
    height: 200px;
    background-color: #fafafa0d;
    border-radius: 50px;
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: opacity .4s;
}

#progress-bar .progress:after {
    content: '';
    background-color: #00B4FF;
    opacity: .6;
    filter: blur(3px);
    width: 100%;
    height: 100%;
    display: block;
}

#progress-bar .progress {
    background-color: #00B4FF;
    border-radius: 50px;
    transform-origin: top;
    height: 0%;
    width: 100%;
    transition: height 0.3s cubic-bezier(0.2, 0.9, 0.3, 1)
}

#progress-bar .scrollNumber {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateX(-50%);
}

nav {
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    padding: 1.5% 8%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-blend-mode: overlay;
    z-index: 10;
}


nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul a {
    padding: 4px 8px;
    font-size: .875rem;
    text-transform: uppercase;
}

.menu-btn {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        inset: 0;
        padding: 1rem;
        background-color: var(--bg);
        text-align: center;
        font-size: 40px;
    }

    nav ul.show {
        display: flex;
    }

    .menu-btn {
        display: block;
    }
}

.about {
    padding: 0 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h3 {
    color: var(--subtext);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.about .content {
    display: flex;
    gap: 100px;
}

.about .content div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about ul {
    color: var(--subtext);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about .content>div:last-of-type ul {
    color: var(--fg);
    flex-direction: row;
}

.about .content>div:last-of-type li {
    background-color: var(--shade);
    padding: 10px 12px;
    border-radius: 22px;
}

.about .content>div:last-of-type li:hover {
    background-color: var(--nav-bg);
}

.about li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about p {
    font-size: 1.15rem;
    line-height: 1.6;
}

.projects {
    padding: 0 8%;
    margin-bottom: 200px;
}

.projects span {
    color: var(--subtext);
    text-transform: uppercase;
}

.project button {
    border: none;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
}

.project button:hover svg,
.project button:active {
    transform: translateX(3px);
}

.project button svg {
    color: #0f0f0f;
    transition: transform .5s ease;
    width: 15px;
}

.projects>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.projects>div div:first-of-type {
    margin-top: 20px;
}

.projects h6 {
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 500;
}

.project a {
    transition: transform .7s ease,
        background-size .6s ease .15s;
    background-image: url('/assets/avantyra.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 16/10;
    overflow: hidden;
    grid-column: span 2;
    position: relative;
}

.project:nth-of-type(2) a {
    background-image: url('/assets/moment.png');
}

.project:nth-of-type(3) a {
    background-image: url('/assets/palachovka.png');
}

.project a:hover {
    transform: scale(1.03);
    transform-origin: center;
    background-size: 102% 102%;
}

.project>a:after {
    content: 'Zobrazit projekt';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 8;
    background-color: #0f0f0fca;
    transition: .4s ease .8s;
    opacity: 0;
    padding: 18px 14px;
    border-radius: 12px;
}

.project>a:hover:after {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.project {
    margin-top: 120px;
}

.project ul {
    display: flex;
    gap: 30px;
}

.project p {
    color: var(--subtext);
}

.project li {
    background-color: var(--bg);
    padding: 10px 12px;
    border-radius: 22px;
}

.project div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer {
    padding: 4%;
    display: flex;
    gap: 20px;
}

footer svg {
    color: var(--fg);
    transition: .3s ease;
}

footer svg:hover {
    color: #00B4FF;
}